HR Aent n8n.json
{
  "name": "HR AGent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -176
      ],
      "id": "b04a78ef-d0a1-412a-94d6-0c155dab6c0a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        176,
        -176
      ],
      "id": "fe6a2ee7-50a5-40d2-bd24-02fc98926b66",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "WINJgLLtEjayJWUl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        288,
        32
      ],
      "id": "5c58d62e-588e-4b79-9f1a-cb390f0d6b3a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1mL_FgsidqNqf0xpCK7l8eka7T6T96b5K",
          "mode": "list",
          "cachedResultName": "company_policy.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1mL_FgsidqNqf0xpCK7l8eka7T6T96b5K/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -48,
        -176
      ],
      "id": "586ee7e6-96ec-4b3d-a34c-06963b4eccc0",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "spANW9gJqV7F2Gwb",
          "name": "Google Drive account Edra n8n"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        128,
        32
      ],
      "id": "fb38bdc1-aa7f-4f34-9e9c-335fc2ee7ec9",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "eMILR1u2zMygt9nU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "availableInChat": true,
        "agentName": "HR4U",
        "agentDescription": "AI Agent for HR Edra",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        128,
        -784
      ],
      "id": "fbcceebe-fb1a-46b7-95b8-a8d5fd50527f",
      "name": "When chat message received",
      "webhookId": "59822b06-bd35-4801-89d7-a35eff5514d2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a document-bound Policy AI assistant for Edra Labs.\n\nYou must only use content retrieved from the Supabase Vector Store tool.\n\nIf no content is returned, you must reply:\n\n“I’m sorry, but I can’t answer that because it is not covered in the provided documents.”\n\nYou are explicitly forbidden from answering using your own knowledge, training data, or inference.\n\nUser input: {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        -784
      ],
      "id": "a902115d-6f41-469f-85fa-5a42742e87b8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        368,
        -608
      ],
      "id": "a8a2f03d-ebba-4bd1-99d5-744c5db6091c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "eMILR1u2zMygt9nU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "All edra hr information",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        864,
        -576
      ],
      "id": "a33dfa40-c70d-4c56-a37c-1800cd9c82aa",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "WINJgLLtEjayJWUl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        944,
        -448
      ],
      "id": "03721019-f8f7-43f6-be80-edf2d4c43f14",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "eMILR1u2zMygt9nU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        512,
        -560
      ],
      "id": "9997459a-0189-45cd-8e52-82a8cd6d0245",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "21986354-7e73-463c-92ba-deceec85e0a3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "186d8f7b4829b57dff117d36ed3ad12351686d188f4f5d184d72ff7ad5af85c6"
  },
  "id": "3eRDJEAdZO6e_NsY_QZPt",
  "tags": []
}